body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000000;
}

h1 {
    color: #b30000;
}

h2 {
    color: #b30000;
}

.tabs {
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.tab-button.active {
    background: #8b0000;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.characters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 15px;
    padding: 15px;
    margin: 0px -20px;
}

.character-card {
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.character-card:hover {
    transform: scale(1.05);
}

.character-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.char-page {
    display: none;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.profile-img {
    width: 250px;
    border-radius: 10px;
    margin: 10px 0;
}

.back-btn {
    background: #8b0000;
    padding: 10px 15px;
    border: none;
    color: rgb(255, 249, 249);
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
}

.film-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 3fr));
    gap: 20px;
    margin: 0px -20px;
}

.tab-card {
    max-width: 260px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.tab-card:hover {
    transform: scale(1.05);
}

.film-card img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}
